<!doctype html>
<html>

<head>
    <title>Socket.IO chat</title>
 
</head>


<body>
    <ul id="messageBox"></ul>
    <form id="socketForm" action="">
        <input id="message" autocomplete="off" />
        <button id="submitButton">Send</button>
    </form>
</body>

<script src="/socket.io/socket.io.js"></script>
<script src="/app.js"></script>

</html>