<html>

<head>

</head>

<body>
<h1>Login</h1>
<form method ="POST" action ="/login/login">
<input type="email" placeholder ="email" name="email" />
<input type="password" placeholder ="password" name="password"/>
<button>Login</button>
</form>

</body>

</html>