<html>

<head>

</head>

<body>
<h4>Add trip</h4>
<form method ="POST" action ="/">
<input type="text" placeholder="city name" name="myCity" />
<input type="text" placeholder="departure" name="myDeparture" />
<input type="text" placeholder="return" name="myReturn" />
<input type="text" placeholder="image url" name="myImage" />

<button>Save</button>
</form>

<h4>My trips</h4>
{{#trips}}

<form method="POST" action="/remove">
{{city}} - {{departure}} - {{return}} <br> 
<img src={{image}} /> <br><button name="deleteTrip">Delete trip</button><br><br>
<input type="hidden" name="removeCity" value={{city}} />
</form>
{{/trips}}
</body>

</html>